.import-game-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 12px;
}

#new-entry-pill {
  background-color: #eff6ff;
  color: #5d8fef;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  font-size: 12px;
}

.import-game-left {
  display: flex;
  gap: 18px;
}

#log-new-match-icon {
  background-color: #eff6ff;
  color: #d3e5fe;
  border-radius: 25px;
  padding: 13px;
}

#modal-sub-title {
  color: #6b7280;
  font-weight: 400px;
}

.sub-titles {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.form-heading {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form-heading-scores {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.settings-subtitle {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.5px;
}

.form-heading-scores-hidden {
  font-size: 12px;
  color: #f9fafb;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

#set-scores-title {
  margin-top: 30px;
}

.importgame-input {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 14px;
  margin-top: 4px;
  background-color: white;
}

.editgame-input {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 14px;
  margin-top: 4px;
  background-color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-width: 0;
}

.input-container-scoreboard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-width: 0;
  align-items: center;
}

.input-container-subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-width: 0;
  align-items: flex-start;
}

#pair-subtitle {
  color: #f9fafb;
  pointer-events: none;
}

.input-container-subtitle span {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.row-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.row-4-scoreboard {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr;
  gap: 10px;
}

.form-heading-scoreboard-pair {
  align-items: flex-start;
}

.set-scores-card {
  background-color: #f9fafb;
  border-color: #f4f5f7;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.importgame-input-scores {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-top: 4px;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 35px;
}

.editgame-input-scores {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-top: 4px;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 35px;
}

.settings-startrating-input {
  display: flex;
  border-radius: 12px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-top: 4px;
  background-color: #f9fafb;
}

.name-readonly {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-top: 4px;
  background-color: white;
  text-align: left;
  height: 35px;
  width: 100%;
}

#recentMatchesContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.modal-footer {
  gap: 1px;
}

#delMatchBtn {
  background: linear-gradient(75deg, #ef4444 0%, #dc2626 100%) !important;
  border-color: #ef4444;
}

.btn.btn-primary {
  background: linear-gradient(75deg, #3b82f6 0%, #60a5fa 100%) !important;
}

#settingsSaveBtn {
  border-radius: 13px;
}

.navbar-icon {
  background: transparent;
  outline: 0;
  padding: 18px;
  border-radius: 0px;
  border-style: none;
}

#settings-modal-title {
  font-style: bold;
}

.feedback-input-text {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-top: 4px;
  background-color: white;
  text-align: left;
  width: 100%;
  min-height: 100px;
  resize: none;
  overflow: auto;
}

.feedback-input-text::placeholder {
  color: #b3b7be;
}
